* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    margin: 0 auto;
}

nav {
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}


.new {
    color: orange;
    font-size: 1rem;
}

.swiggy-logo-img {
    scale: 0.9;
    transition: all 0.7s ease;
}

.swiggy-logo-img:hover {
    scale: 1;
}

section.header-logo {
    display: flex;
    justify-content: flex-start;
    gap: 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
    margin-right: 3rem;
}

.nav .icon-text {
    text-decoration: none;
}

section .header-icons {
    display: flex;
    justify-content: flex-end;
}

.nav-size {
    width: 1.7rem;
    height: auto;
}

.icon-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.781);
}

.icon-other {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.781);
    text-decoration: underline;

}

section a img {
    margin-right: 1rem;
}

.icon-text:hover {
    color: #ff5200;
}

.icon-other:hover {
    color: #ff5200;
}



/* Main container stayling */
main {
    width: 90%;
    margin: 0 auto;
}

main h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 1.9rem;
    font-weight: 900;
    color: #161b20;
    margin-bottom: 1.6rem;
}

main div section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

main div section a {
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid gray;
    border-radius: 2rem;
    color: #161b20;
    font-weight: 500;
    padding: .5rem;
    margin-right: 1rem;
    display: block;
    white-space: nowrap;
    flex-wrap: wrap;
}

/* Food items section */
.food-card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 2rem;

}

.food-card {
    /* border: 1px solid gray; */
    height: auto;
    width: 29rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: scale .1s ease;
}

.food-card:hover {
    scale: 0.95;
}

.food-item {
    margin: 1rem;
     
}

.food-item img {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 18rem;
    width: 25rem;
    image-rendering: crisp-edges;
    border-radius: 20px;
    margin: 0 auto;
}

.food-informations {
    padding-inline: 1.5rem;
}

.food-informations h3 {
    font-size: 1.8rem;
}

.rating img {
    display: inline;
    height: 1.8rem;
    width: auto;
    margin: 0;
}

.rating {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    align-items: center;
}

.food-type {
    text-align: justify;
    font-size: 1.5rem;
}

.location p {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Inside the city container */
.city-container {
    margin-inline: 5rem;
}

.best-place-Cities-header {
    height: max-content;
}

.best-place-Cities-header h1 {
    font-size: 2.5rem;
    font-weight: 900;
    opacity: 0.9;
}

.best-place-cities-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    white-space: wrap;
}

.best-place {
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: .9rem;
    height: 5rem;
    width: 15rem;
    padding: 1rem;

}













/* Meadia Query */
@media (max-width:425px) {
    .city-container {
        width: 50rem;
    }
}

@media (max-width:768px) {

    /* meadia query for header */
    nav {
        width: 100%;

    }

    .nav {
        gap: 0;
        margin-right: 1rem;
    }

    section a img {
        margin-right: .01rem;
    }

    .icon-text {
        margin: left 1.5em;
    }

    section {
        gap: 0;
    }

    .food-card-section {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(12, auto);
        gap: 2rem;
    }

    main div section a {
        margin: 0;
    }

    .city-container {
        margin-inline: 5rem;
        width: 60rem;
    }
}